# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===

NODE_LOCAL_PORT=3000
NODE_DOCKER_PORT=3000
NODE_ENV=development

# === Secret ===

# Set this for JWT
SECRET=

# === Database ===

MYSQLDB_USER=root
MYSQLDB_ROOT_PASSWORD=R-@a5i*4NZv2Avt
MYSQLDB_DATABASE=tool_manager
MYSQLDB_LOCAL_PORT=3307
MYSQLDB_DOCKER_PORT=3306
MYSQLDB_DOCKER_HOST=dbmysql
MYSQLDB_DIALECT=mysql